/.DS_Store
/Sample Code/iOS Example/.DS_Store
/Sample Code/iOS Example/build
/Sample Code/iOS Example/DerivedData
/Sample Code/Mac Example/.DS_Store
/Sample Code/Mac Example/build
/Sample Code/Mac Example/DerivedData
/Library/.DS_Store
/Library/build
/Library/DerivedData
/Library/Shared/.DS_Store